<style>

.chat-wrap .chat-window {
  bottom:0;
  position:fixed;
  float:right;
  margin-left:10px;
  right: 0px;
  width: 350px
}
.chat-wrap .chat-window > div > .panel {
    border-radius: 5px 5px 0 0;
    background-color: #f5f5f5;
    margin: 0px;
    height: 320px;
    overflow-y: scroll;
}
.chat-wrap .icon_minim{
  padding:2px 10px;
}
.chat-wrap .msg_container_base{
  margin: 0;
  padding: 0 10px 0px;
  max-height:300px;
  overflow-x:hidden;
}
.chat-wrap .top-bar {
  background: #37474f;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.chat-wrap .top-bar .glyphicon {
  color:#fff;
}
.chat-wrap .msg_receive{
  padding-left:0;
  margin-left:0;
}
.chat-wrap .msg_sent{
  margin-right:0;
}
.chat-wrap .messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.chat-wrap .messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
  word-wrap: break-word;
}
.chat-wrap .messages > time {
  font-size: 11px;
  color: #000;
}
.chat-wrap .msg_container {
    padding: 10px 10px 0 10px;
    overflow: hidden;
    display: block;
}
.chat-wrap img {
  display: block;
  width: 100%;
}
.chat-wrap .avatar {
  position: relative;
}
.chat-wrap .base_receive > .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #FFF;
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}

.chat-wrap .base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.chat-wrap .base_sent > .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.chat-wrap .msg_sent > time{
  float: right;
  margin: -4px;
}



.chat-wrap .msg_container_base::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.chat-wrap .msg_container_base::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.chat-wrap .msg_container_base::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.chat-wrap .btn-group.dropup{
  position:fixed;
  left:0px;
  bottom:0;
}
</style>

<body>

  <div> 

    <div class="container chat_main_div chat-wrap">
     <div class="row chat-window col-xs-8 col-md-6" id="chat_window_1" style="margin-left:10px;">
       <div class="col-xs-12 col-md-12" >
         <div class="panel-heading top-bar">
           <div class="col-md-8 col-xs-8">
             <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - {{receiver_name}}</h3>
           </div>
           <div class="col-md-4 col-xs-4" style="text-align: right;">
             <!-- <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a> -->
             <a href="javascript:void(0);"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
           </div>
         </div>
         <div class="panel panel-default usermessage-box">
           <div class="panel-body msg_container_base" ng-repeat = "message in messagess" >
             <div class="row msg_container base_sent ">


               <div class="col-md-11 col-xs-11" style="float: right;" ng-if="message.sender_id == '60'">
                 <div class="messages msg_sent" style="background-color: #ccc" >
                   <p style="text-align: right;">{{message.text}}</p>
                   <time>{{message.recievetimestamp | date:'MMM-d, HH:mm'}}</time>
                 </div>
               </div>


               <div class="col-md-11 col-xs-11" ng-if="message.sender_id != '60'">
                 <div class="messages msg_sent">
                   <p><span>{{message.userName | uppercase}}</span> - {{message.text}}</p>
                   <time>{{message.recievetimestamp | date:'MMM-d, HH:mm'}}</time>
                 </div>
               </div>



             </div>
           </div>
         </div>
         <div class="panel-footer">
          <form ng-submit="send()">
          <div class="input-group">
            
            <input id="btn-input" type="text" class="form-control input-sm chat_input" ng-model="residentchat.message" placeholder="Write your message here..." />
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="send()">Send</button>
            </span>
            
          </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>


