/*
 * Custom css for ng-laravel
 */

.navbar-brand {
    padding: 10px 15px;
}
 .input-group-addon {
  padding: 6px 2px;
}

.input-group-addon i.fa {
    width: 40px;
}
.add-description .add-description-input {
    height: 120px;
}
.skin-3 .sidebar {
    background: #48a0bb;
}
.skin-3 #MainMenu .nav-list > li {
    background: #3C9FB9;
}
.skin-3 #MainMenu .separate-menu {
    color: #fff;
}
.skin-3 #MainMenu .nav-list > li > a {
    background: #3C9FB9;
}



.skin-3 .sidebar {
    background: rgba(0, 131, 183, 0.75);
}
.skin-3 #MainMenu .nav-list > li {
    background: rgba(0, 131, 183, 0.75);
    border-bottom: 2px solid rgba(0, 131, 183, 0.75);
}
.skin-3 #MainMenu .separate-menu {
    color: #fff;
}
.skin-3 #MainMenu .nav-list > li > a {
    background: rgba(0, 119, 155, 0.5);
}
.skin-3 #MainMenu .nav-list > li.active > a {
    color: #fff;
    background: rgba(0, 119, 155, 0.5);
}
.skin-3 .breadcrumb {
    background-color: #6cd0e6;
    border-color: #6cd0e6;
}
.skin-3 .tabbable-line > .nav-tabs {
    background-color: #368FA6;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    background-color: rgba(0, 131, 183, 0.75);
}
.skin-3 .tabbable-line > .nav-tabs > li.active {
    border-bottom: 1px solid #48a0bb;
}
.skin-3 .tabbable-line > .nav-tabs > li:not(.active) {
    border-bottom: 1px solid #48a0bb;
}
.skin-3 .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    background-color: #6cd0e6;
}
.skin-3 .tabbable-line > .nav-tabs > li.open > a, .skin-3 .tabbable-line > .nav-tabs > li:hover > a {
    background: #0E88B6 !important;
}
.skin-3 .tabbable-line > .nav-tabs > li.open > a:focus, .skin-3 .tabbable-line > .nav-tabs > li.open > a:hover, 
.skin-3 .tabbable-line > .nav-tabs > li:hover > a:focus, .skin-3 .tabbable-line > .nav-tabs > li:hover > a:hover {
    background: #0E88B6 !important;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #fff;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #fff;
}
.skin-3 #MainMenu .nav-list > li .submenu {
    border-top: 1px solid #00779b;
    background-color: rgba(0, 131, 183, 0.75);
}
.skin-3 #MainMenu .nav-list > li .submenu > li > a {
    background-color: rgba(0, 131, 183, 0.75);
}
.skin-3 #MainMenu .nav-list > li > .submenu:before {
    color: #60CFE4;
}
.skin-3 #MainMenu .nav-list > li .submenu > li:before {
    color: #60CFE4;
}
.skin-3 #MainMenu .nav-list > li .submenu > li:hover:before {
    color: #60CFE4;
}
.skin-3 #MainMenu .nav-list > li .submenu > li > a:hover {
    color: #fff;
    background-color: rgba(0, 119, 155, 0.5);
}
.separate-menu {
    padding: 10px 15px !important;
    font-size: 12px;
}
.ui-sortable .btn-success {
    background-color: #6cd0e6;
    border-color: #6cd0e6;
}
.ui-sortable .btn-success.active, .ui-sortable .btn-success.focus, .ui-sortable .btn-success:active, 
.ui-sortable .btn-success:focus, .ui-sortable .btn-success:hover, .ui-sortable .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #6cd0e6;
    border-color: #6cd0e6;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}
.ui-sortable .btn-info {
    color: #fff;
    background-color: #2da500;
    border-color: #2da500;
}
.ui-sortable .btn-info.active, .ui-sortable .btn-info.focus, .ui-sortable .btn-info:active, 
.ui-sortable .btn-info:focus, .ui-sortable .btn-info:hover, .ui-sortable .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #2da500;
    border-color: #2da500;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0087b3;
    border-color: #0087b3;
}
/*.btn-danger {
    color: #fff;
    background-color: #DAA344;
    border-color: #DAA344;
}
.btn-danger:not(.btn-outline) {
    color: #ffffff;
    background-color: #DAA344;
    border-color: #DAA344;
}*/
.skin-3 .separate-menu {
    background-color: rgba(0, 131, 183, 0.75);
    color: #fff;
}
.skin-3 .list-group-item {
    background-color: rgba(0, 131, 183, 0.75);
    border: 0;
    cursor: pointer;
}
.skin-3 .name {
    color: #fff;
    font-size: 13px;
}
.skin-3 .text-muted {
    color: #fff;
}
.skin-3 .search-menu-form .search-menu {
    background-color: rgba(0, 131, 183, 0.75);
}


/*farhan 01-11-17*/


.skin-3 .list-group-item:hover {
    background-color: rgba(0, 119, 155, 0.5);
}
.skin-3 .search-menu-form .search-menu::placeholder{
    color: #fff;
}
.chat-wrap .top-bar {
    background: #6CD0E6 !important;
}
.btn-primary:not(.btn-outline) {
    border-color: #6CD0E6;
    background-color: #6CD0E6;
}
.panel-footer {
    background-image: url(img/bg/bg_p1.jpg);
    width: 100%;
}
.main_chat .side_bar_chat {
    height: 400px !important;
    overflow: auto;
}











@media (max-width:479px) {
	 .full-xs {
	 	width: 100% !important;
	 }
	 .bottom-margin-xs {
	 	margin-bottom: 15px;
	 }
}